.patientservices{
    margin-right: 70px;
    margin-left: 80px;
    padding-bottom: 30px;
}
.see-more{
    margin-top: 20px;
}

button:hover{
    border: none;
    text-align: center;
    font-size: 16px;
    transition: 0.3s;
}