.doctor{
    margin-top: 0px;
    border-radius: 20px;
}
.container{
    background-color: #fcf4e0;
}
.card{
    box-shadow: 4px 0px 5px gray;
    margin: 10px;
    padding: 0px;
    border-radius: 20px;
}