
.slide h3{
    color: black;
    font-size: 28px;
    font-weight: 700;
}
.slide p{
    color: black;
}

.images{
    width: 700px;
    height: 500px;
}

.slider{
    margin-top:150px;
    margin-left: 50px;
    margin-right: 20px;
    width: 600px;
}
.btns{
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    letter-spacing: 2px;
    font-size: 18px;
}
.slides{
    background-color:#fcf4e0;
}
.carousel-control-prev,
.carousel-control-next {
  display: none !important;
}
img{
    border-radius: 40px;
}
.carousel-indicators [data-bs-target]{
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 5px;
    padding: 0;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor:grab;
    background-color: rgb(7, 7, 7);
    background-clip: padding-box;
    border: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .9;
    transition: .6s ease;
    border-radius: 5px;
}