.spinner{
    width:"100%";
    margin-left:"540px";margin-right:"150px";
    margin-top:"20px";
}
.skill small{
    display: inline-block;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 700;
    color: rgb(240, 40, 40);
    margin-right: 140px;
}